.navbar-brand img {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 32px;
	height: 32px;
}

.navbar-inverse .navbar-brand , .navbar-brand a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	color: white;
}

body {
	font-family: 'Ubuntu', sans-serif;
	padding-top: 70px;
}

img.pull-left {
	padding-right: 10px;
}

img.small {
	width: 70px;
	height: 70px;
}

img.ribbon
{
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	z-index: 100;
}

.profile {
	margin-bottom: 20px;
}

.sidebar {
	position: relative;
}

.marketing p.lead + p
{
	text-align: justify;
}

.marketing h2 a
{
	text-decoration: none;
	color: #333;
}

.marketing h1
{
	padding-top: 50px;
	font-size: 58px;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 100px;
		left: 30px;
	}

	img.ribbon
	{
		position: fixed;
		top: 0;
		right: 0;
		border: 0;
		z-index: 2000;
	}
}



@media ( max-width : 768px) {
	.carousel {
		display: none;
	}
	img.ribbon
	{
		display: none;
	}
	.marketing
	{
		margin-top: 60px;
	}
}
